[submodule "libs/Seriously.js"]
	path = libs/Seriously.js
	url = git://github.com/brianchirls/Seriously.js.git
[submodule "libs/whammy"]
	path = libs/whammy
	url = git://github.com/antimatter15/whammy.git
[submodule "libs/js-expression-eval"]
	path = libs/js-expression-eval
	url = git://github.com/silentmatt/js-expression-eval.git
[submodule "libs/swfobject"]
	path = libs/swfobject
	url = git://github.com/swfobject/swfobject.git
