html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}
div.graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  div.edges {
    z-index: 1;
  }
  div.nodes {
    z-index: 2;
  }
  div.panel {
    z-index: 1000;
  }
  
div.edge-edit {
  position: absolute;
  left: 0px;
  top: 15px;
  z-index: 1000;
  padding: 10px;
  font-size: 11px;
  font-family: monospace;
  width: 200px;
  text-align: left;
}
  div.edge-edit h2 {
    font-size: 110%;
    margin: 0;
    padding: 0;
  }
  div.edge-edit button {
    width: 25px;
    height: 25px;
  }
  div.edge-edit form input,
  div.edge-edit form label,
  div.edge-edit form button {
    vertical-align: middle;
  }
    div.edge-edit form button.send span.ui-button-icon-primary {
      margin-top: -14px;
    }
  div.edge-edit button.close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
    div.edge-edit button.close span.ui-button-icon-primary {
      margin-top: -14px;
    }
  span.wiresymbol {
    position: relative;
    top: .11em;
    font-size: 250%;
    font-weight: bold;
    text-shadow: 0 1px 1px #AAA;
    padding: 0 3px;
  }
/*  div.edge-edit .ui-button-icon-only .ui-icon, 
  div.edge-edit .ui-button-text-icon-primary .ui-icon, 
  div.edge-edit .ui-button-text-icon-secondary .ui-icon, 
  div.edge-edit .ui-button-text-icons .ui-icon, 
  div.edge-edit .ui-button-icons-only .ui-icon {
    margin-top: -14px;
    position: absolute;
    top: 50%;
  }
*/

/* boxes */

div.edge-edit,
div.module,
div.ports div.port,
div.panel {
  border: 1px #AAA solid;
  background-color: rgba(255,255,255,.85);
}

div.node {
  position: absolute;
  left: 0px;
  top: 0px;
}

div.module {
  border-top-right-radius: 3px; 
  border-bottom-left-radius: 3px; 
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index:2;
  cursor: move;
}
  div.module.active {
    border: 1px #333 solid;
    background-color: #FFF;
  }
  div.module h1.title {
    font-family: 'Nova Flat', monospace;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    
    position: absolute;
    top: 2px;
    left: 10px;
    
    margin: 0;
    padding: 5px 0;
    cursor: move;
  }
    div.module.active h1.title {
      color: #333;
    }
  div.module iframe {
    border: 1px #AAA solid;
    position: absolute;
    left: 10px;
    top: 30px;
  }
  div.module div.iframemask {
    position: absolute;
    left: 9px;
    top: 29px;
  }
  div.module div.ports {
    cursor: default;
  }
    div.module.active div.port {
      border: 1px #666 solid;
    }
  div.module div.ports-in {
    position: absolute;
    left: -79px;
    top: 0;
  }
    div.ports-in div.port-in {
      position: relative;
      border-top-left-radius: 3px; 
      border-bottom-left-radius: 3px; 
      border-right: none;
      width: 76px;
      height: 17px;
      padding: 1px 0 0 1px;
      margin-top: -1px;
    }
      div.ports-in div.port-in div.edge-edit{
        left: 2px;
        top: 15px;
      }
  div.module div.ports-out {
    position: absolute;
    right: -79px;
    bottom: -1px;
  }
    div.ports-out div.port-out {
      position: relative;
      text-align: right;
      border-top-right-radius: 3px; 
      border-bottom-right-radius: 3px; 
      border-left: none;
      width: 77px;
      height: 17px;
      padding: 1px 0 0 0;
      margin-top: -1px;
    }
      div.ports-out div.port-out div.edge-edit{
        left: 59px;
        top: 15px;
      }
  
  div.port span.hole,
  span.holehelper {
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
  }
  div.port span.hole.highlight {
    border-color: #C00;
  }
  div.port.drophover span.hole {
    border-color: #090;
  }
  span.holehelper {
    border-color: #CCC;
  }
  div.port span.label {
    font-family: 'Nova Flat', monospace;
    color: #666;
    font-size: 10px;
    line-height: 10px
    overflow: hidden;
    width: 50px;
    display: inline-block;
    position: relative;
    top: -2px;
  }
    div.port-in span.label {
      padding-left: 2px;
    }
    div.port-out span.label {
      padding-right: 3px;
    }
  
/*  Data Types  */

.port .data {
}
  
  
div.ui-resizable-helper {
  display: inline-block;
  border: 1px black dotted;
}
div.ui-draggable-helper {
  display: inline-block;
  border: 1px black dotted;
}

div.edges {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
  div.edges svg {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
  }
    path.wire,
    path.wire-shadow {
      fill: none;
      stroke-linecap: square;
      stroke-width: 9;
    }
    path.wire-shadow {
      stroke: #AAA;
    }
  
div.panel {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  top: 0px;
  right: 0px;
  font-size: 10px;
  text-align: right;
  border-width: 0 0 1px 1px;
}

div.code textarea {
  background-color: white;
  width: 300px;
  height: 400px;
}




footer {
  position: fixed;
  background-color: rgba(255,255,255,.75);
  padding: 5px 10px;
  bottom: 0px;
  right: 0px;
  font-family: monospace;
  font-size: 10px;
  z-index: 1000;
  text-align: right;
  max-width: 250px;
}
