html, body {
  font-family: Verdana;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}
div.graph {
  background: #EEE url(img/meemoo-bg-graph.png) scroll repeat;
  background-attachment: local;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  border-right: 1px dotted #666;
}
  div.edges {
    z-index: 1;
  }
  div.nodes {
    z-index: 2;
  }
  
div.edge-edit {
  position: absolute;
  left: 0px;
  top: 15px;
  z-index: 1000;
  padding: 10px;
  font-size: 11px;
  width: 200px;
  text-align: left;
}
  div.edge-edit h2 {
    font-size: 110%;
    margin: 0;
    padding: 0;
  }
  div.edge-edit button {
    margin-left: 5px;
    width: 25px;
    height: 25px;
  }
  div.edge-edit form input,
  div.edge-edit form label,
  div.edge-edit form button {
    vertical-align: middle;
  }
  div.edge-edit button.close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
    div.edge-edit form button.send span.ui-button-icon-primary,
    div.edge-edit button.close span.ui-button-icon-primary {
      margin-top: -8px;
    }
  span.wiresymbol {
    position: relative;
    top: .11em;
    font-size: 250%;
    font-weight: bold;
    text-shadow: 0 1px 1px #AAA;
    padding: 0 3px;
  }
/*  div.edge-edit .ui-button-icon-only .ui-icon, 
  div.edge-edit .ui-button-text-icon-primary .ui-icon, 
  div.edge-edit .ui-button-text-icon-secondary .ui-icon, 
  div.edge-edit .ui-button-text-icons .ui-icon, 
  div.edge-edit .ui-button-icons-only .ui-icon {
    margin-top: -14px;
    position: absolute;
    top: 50%;
  }
*/

/* boxes */

div.edge-edit,
div.module,
div.ports div.portshown,
div.showpanel {
  border: 1px #AAA solid;
  background-color: rgba(255, 255, 255, 0.85);
}

div.node {
  position: absolute;
  left: 0px;
  top: 0px;
}

div.module {
  border-top-right-radius: 3px; 
  border-bottom-left-radius: 3px; 
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index:2;
}
  div.module.ui-selected {
    border: 1px #333 solid;
  }
    div.module.ui-selected .outer {
      outline: 3px #999 solid;
    }
  div.module.ui-selecting {
    border: 1px #333 solid;
    background-color: #FFFFE9;
  }
  div.module h1.title {
    font-family: 'Nova Flat', Monaco, monospace;
    font-weight: 400;
    color: #808080;
    font-size: 14px;
    
    position: absolute;
    top: 2px;
    left: 10px;
    right: 25px;

    white-space: nowrap;
    overflow: hidden;
    
    margin: 0;
    padding: 5px 0;
    cursor: move;
  }
    div.module.ui-selected h1.title,
    div.module.ui-selecting h1.title {
      color: #333;
    }
  div.module button.showcontrols,
  div.module div.controls {
    /*/*display: none;*/
    position: absolute;
    top: 5px;
    right: 5px;
  }
    div.module button.showcontrols .ui-icon,
    div.module div.controls .ui-icon {
      font-size: 10px;
    }
  div.module div.controls {
    display: none;
    text-align: right;
  }
    div.module button.showcontrols,
    div.module div.controls button {
      margin-left: 3px;
      width: 18px;
      height: 18px;
    }
  div.module .outer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  div.module .inner {
    border: 1px #AAA solid;
    position: absolute;
    top: 30px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    overflow: auto;

    font-size: 12px;
  }
    div.module .inner.iframe-type {
      overflow: hidden;
    }
    div.module .inner.iframe-type iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  div.nativenode {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
  }
  div.module div.iframemask {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  div.module div.ports {
    cursor: default;
    width: 99px;
  }
    div.port {
      position: relative;
      width: 99px;
      margin-top: -1px;
    }
    div.module.ui-selected div.portshown {
      border-color: #666;
    }
  div.module div.ports-in {
    position: absolute;
    left: -99px;
    top: 0;
  }
    div.port-in div.portshown-in {
      position: relative;
      right: -20px;

      border-top-left-radius: 3px; 
      border-bottom-left-radius: 3px; 
      border-right: none;
      width: 76px;
      height: 17px;
      padding: 1px 0 0 1px;
    }
      div.portshown-in .hole{
        position: absolute;
        top: -2px;
        left: 1px;
      }
      div.portshown-in .label{
        position: absolute;
        top: 4px;
        left: 18px;
      }
      div.portshown-in div.edge-edit{
        left: 2px;
        top: 15px;
      }
  div.module div.ports-out {
    position: absolute;
    right: -100px;
    bottom: -1px;
  }
    div.ports-out div.portshown-out {
      position: relative;
      text-align: right;
      border-top-right-radius: 3px; 
      border-bottom-right-radius: 3px; 
      border-left: none;
      width: 77px;
      height: 17px;
      padding: 1px 0 0 0;
      margin-top: -1px;
      margin-right: 20px;
    }
      div.portshown-out .hole{
        position: absolute;
        top: -2px;
        right: 0px;
      }
      div.portshown-out .label{
        position: absolute;
        top: 4px;
        right: 15px;
      }
      div.portshown-out div.edge-edit{
        left: 59px;
        top: 15px;
      }
  
  span.hole:before {
    font-size: 14px;
    color: #666;
  }
  div.port span.hole,
  span.holehelper {
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
  }
  div.port span.fade.hole:before {
    color: #CCC;
  }
  div.port span.highlight.hole:before {
    color: #090;
  }
  div.port.drophover span.hole:before {
    color: #060;
  }
  span.plugend,
  span.plugendhelper,
  span.holehelper {
    cursor: move;
    display: block;
    width: 19px;
    height: 13px;
    background: url("img/plugs.png") no-repeat;
    position: absolute;
  }
    span.plugend-in,
    span.plugendhelper-in,
    span.holehelper-in {
      background-position: 0px 0px;
    }
    span.plugend-in {
      top: 3px;
      left: 2px;
    }
    span.plugend-out,
    span.plugendhelper-out,
    span.holehelper-out {
      background-position: 0px -13px;
    }
    span.plugend-out {
      top: 3px;
      right: 3px;
    }
    span.plugend.highlight {
      background-color: #FFE87C;
      border-color: #FFE87C;
      border-style: solid;
      border-width: 2px 0px;
      margin-top: -2px;
    }
  div.port span.label {
    font-family: 'Nova Flat', Monaco, monospace;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    width: 58px;
    display: inline-block;
  }
    div.port-in span.label {

    }
    div.port-out span.label {
    }
  
/*  Data Types  */

.port .data {
}
  
  
div.ui-resizable-helper {
  display: inline-block;
  border: 1px black dotted;
}

div.ui-draggable-helper {
  display: inline-block;
  border: 1px black dotted;
}

div.edges {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
  div.edges svg {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
  }
    path.wire,
    path.wire-shadow {
      fill: none;
      stroke-linecap: square;
      stroke-width: 9;
    }
    path.wire-shadow {
      stroke: #AAA;
    }

    path.wire-shadow.highlight {
      stroke-width: 13;
      stroke: #FFE87C;
    }

#edgesSvg {
  position:absolute;
  top:0;
  left:0;
  z-index:0;

  width: 1500px;
  height: 1000px;
}
  
div.showpanel {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 16px;
  font-size: 10px;
  text-align: right;
  border-width: 0 1px 1px 1px;

  padding: 5px;
}
div.panel {
  top: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  overflow: auto;

  font-size: 10px;

  position: fixed;
  display: none;
}
  div.choosepanel {
    text-align: right;
    padding: 5px;
  }

  div.panel .load,
  div.panel .source,
  div.panel .library {
    padding: 5px 10px;
  }

  div.panel .source .sourceedit {
    background-color: white;

    position: absolute;
    top: 40px;
    right: 15px;
    left: 10px;
    bottom: 50px;

  }

  div.panel .source textarea {
    background-color: white;
    width: 100%;
    height: 100%;
/*    white-space: pre;
    overflow: auto;
*/    font-size: 11px;
    font-family: Monaco, monospace;
  }

    div.panel .source .controls {
      position: absolute;
      bottom: 10px;
    }

  div.panel .library {
    text-align: left;
  }
    div.panel .library .controls {
    }
    div.panel .listing {
      position: absolute;
      top: 75px;
      right: 10px;
      left: 10px;
      bottom: 10px;
      overflow: auto;
    }
    div.panel form {
      margin-bottom: 10px;
    }

    div.panel form input {
      width: 255px;
      height: 18px;
    }

    div.panel form button {
      float: right;
    }

    ul.ui-autocomplete {
      font-size: 10px;
    }
    ul.ui-autocomplete li .autocomplete-title {
      font-size: 14px;
    }

    .library-module {
      margin-bottom: 7px;
    }

    .localapp h2,
    .localapp p,
    div.panel .library h2,
    div.panel .library p{
      margin: 0;
      padding: 0;
    }
    .localapp h2,
    div.panel .library h2{
      font-size: 14px;
      line-height: 14px;
    }
    .localapp .description,
    div.panel .library .description{
      font-size: 10px;
      line-height: 14px;
    }
    .localapp .src,
    div.panel .library .src{
      font-size: 10px;
      line-height: 10px;
      color: #999;
    }
    .localapp .loadapp,
    div.panel .library .addnode {
      float: left;
      clear: left;
    }

.panel .load .editable {
  margin: 0 0 5px 0;
}
.editable {
  border: 1px solid transparent;
  border-width: 1px 0px;
}
.editable:hover {
  border-style: dotted;
  border-color: #AAA;
  background-color: #FFFFD3;
}
.panel .load .deletelocal {
  float: right;
  margin-right: 5px;
}

.panel .load .permalink {
  margin-top: 10px;
  line-height: 18px;
}
  .panel .load .permalink .share {
    color: #999;
    opacity: 0.2;
    text-decoration: none;
  }
  .panel .load .permalink:hover .share {
    opacity: 1;
  }
  .panel .load .permalink:hover .share:hover {
    color: #666;
  }

.panel .load .newblank {
  float: right;
  margin: 10px 5px 10px 10px;
}

.addnode-drag-helper {
  width: 100px; 
  height: 100px; 
  z-index:1000; 
  background-color:rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 10px;
}



/* jQuery UI overrides */

.ui-resizable-e {
  height: auto;
  bottom: 15px;
}
.ui-resizable-s {
  width: auto;
  right: 15px;
}
.ui-resizable-se {
  bottom: -5px;
  cursor: se-resize;
  height: 18px;
  right: -5px;
  width: 18px;
}
.ui-accordion .ui-accordion-content {
  padding: 10px 10px 10px 15px;
}

[class^="icon-"],
[class*=" icon-"] {
  /* to override jqueryui icons for font icons */
  background: none !important;
  background-image: none !important;
  text-indent: 0 !important;
  /*padding: .2em 0 0 .2em !important;*/
}

/* icons thanks to http://fontello.com/ and the included icon sets */

@charset "UTF-8";

@font-face {
  font-family: 'meemoo-icons';
  src: url("icons/font/meemoo-icons.eot");
  src: url("icons/font/meemoo-icons.eot?#iefix") format('embedded-opentype'), url("icons/font/meemoo-icons.woff") format('woff'), url("icons/font/meemoo-icons.ttf") format('truetype'), url("icons/font/meemoo-icons.svg#meemoo-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'meemoo-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
  /* Uncomment for 3D effect */
  /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  /* fix buttons height */
  line-height: 1em;
  font-size: 140%; 
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-split:before { content: '\2387'; } /* '⎇' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-scissors:before { content: '\2702'; } /* '✂' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-window:before { content: '\e74e'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-install:before { content: '\e778'; } /* '' */
.icon-bag:before { content: '\e78a'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-tumblr:before { content: '\f311'; } /* '' */
.icon-globe-1:before { content: '🌍'; } /* '\1f30d' */
.icon-folder-open:before { content: '📂'; } /* '\1f4c2' */
.icon-link:before { content: '🔗'; } /* '\1f517' */



footer {
  position: fixed;
  background-color: rgba(255,255,255,.75);
  padding: 0 5px 2px 2px;
  top: 0px;
  left: 0px;
  font-family: Monaco, monospace;
  font-size: 10px;
  z-index: 1000;
}
