<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>meemoo/iframework @ GitHub -- iframework proof-of-concept</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  
  <script src="iframework.js"></script>
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/eggplant/jquery-ui.css" rel="stylesheet" type="text/css" />
  
  <link href="iframework.css" rel="stylesheet" type="text/css" />
  
  <style type="text/css">
  </style>
</head>
<body>
  
  <script type="text/template" id="graph-template">
  
    <div class="edges" />
    <div class="nodes" />
  
  </script>
  
  <script type="text/template" id="node-template">
    
    <div class="module" style="left:<%= x %>px;top:<%= y %>px;width:<%= w %>px;height:<%= h %>px;" >
      <div class="ports-in">
        <div class="port-in">
          <span class="port"> </span>
          <span class="label">default</span>
        </div>
      </div>
      <div class="ports-out">
      </div>
      <h1 class="title">...</h1>
      <iframe class="frame" src="<%= src %>" style="width:<%= w - 20 %>px;height:<%= h - 40 %>px;"></iframe>
    </div>
    
  </script>
  
  <script type="text/template" id="port-in-template">
  
    <span class="port"> </span>
    <span class="label">default</span>
    <span class="widget"></span>
  
  </script>
  
  <script type="text/template" id="port-out-template">
  
    <span class="port"> </span>
    <span class="label">default</span>
    <span class="widget"></span>
    
  </script>
  
  <script type="text/template" id="edge-template">
  
    <svg>
      <path class="wire" d="M <%= this.model.from.get('x') + this.model.from.get('w') + 5 %> <%= this.model.from.get('y') + this.model.from.get('h') + 5 %> C <%= this.model.from.get('x') + this.model.from.get('w') + 5 + 20 %> <%= this.model.from.get('y') + this.model.from.get('h') + 5 %> <%= this.model.to.get('x') - 4 - 20 %> <%= this.model.to.get('y') - 4 %> <%= this.model.to.get('x') - 4 %> <%= this.model.to.get('y') - 4 %>" fill="none" stroke="blue" stroke-width="6" />
      <circle class="wire-end out" cx="<%= this.model.from.get('x') + this.model.from.get('w') + 5 %>" cy="<%= this.model.from.get('y') + this.model.from.get('h') + 5 %>" r="3" fill="blue" stroke="none" />
      <circle class="wire-end in" cx="<%= this.model.to.get('x') - 4 %>" cy="<%= this.model.to.get('y') - 4 %>" r="3" fill="blue" stroke="none" />
    <svg>
    
  </script>
  
  <script type="text/javascript">
  
  $(document).ready(function(){
    
    var testGraph = {
      info: {
        title: "iframework test",
        author: "sembiki.com",
        description: "metronome to log",
        url: ""
      },
      nodes: [
        {
          id: 1,
          // src: "http://meemoo.github.com/iframework/metronome.html", 
          src: "examples/metronome.html", 
          x: 20, y: 100, w: 500, h: 85, 
          state: { bpm: 140 }
        },
        {
          id: 2,
          // src: "http://meemoo.github.com/iframework/examples/log.html", 
          src: "examples/log.html", 
          x: 560, y: 390, w: 300, h: 300
        },
        {
          id: 3,
          // src: "http://meemoo.github.com/iframework/examples/processing.html", 
          src: "examples/processing.html", 
          x: 560, y: 20, w: 350, h: 350,
          state: { 
            processingcode: "void setup() { size(300, 300); colorMode(HSB, 360, 100, height); noStroke(); background(0); } \n void mousePressed () { fill(random(360), 180, 300); triangle(random(width), random(height), 100, 100, 200, 200);}" 
          }
        },
      ],
      edges: [
        { from: 1, to: 2 },
        { from: 1, to: 3 }
      ]
    };
    
    MeemooApplication.showGraph(testGraph);
  
  });
  
  </script>
  
</body>
</html>